<app-content-header
    [icon]="'playlist_add_check'"
    [title]="'Actions-List'"
    [desc]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin ante lectus, id pretium mi dignissim non.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true"
    [class]="'pb-4'"></app-content-header>

<div class="p-2">
        <app-action-list></app-action-list>
<!--        <app-cards-form></app-cards-form>-->
<!--        <app-cards-details></app-cards-details>-->
</div>


<!--<div fxLayout="row wrap" fxLayoutAlign="center" class="p-2">-->
<!--    <div fxFlex="100" class="p-2">-->
<!--        <p>Let's go Team!</p>-->
<!--      <app-cards-list></app-cards-list>-->
<!--      <app-cards-form></app-cards-form>-->
<!--      <app-cards-details></app-cards-details>-->
<!--    </div>-->
<!--</div>-->
