<div fxLayout="column" class="p-2" *ngFor="let card of cards">
  <div class="p-2 card-item">
    <h2 (click)="cardClicked(card)">{{card.title}}</h2>
    <ngx-fa name="edit" size="lg" (click)="editCard(card)"></ngx-fa>
    <ngx-fa name="trash" size="lg" (click)="deleteCard(card)"></ngx-fa>
<!--    <h3>{{card.title}}</h3>-->
  </div>
</div>
<a mat-raised-button color="primary" href="https://black-shields.com" target="_blank">
  <mat-icon class="mx-2" (click)="newCard()">note_add</mat-icon>New Card
</a>

<!--<div *ngFor="let movie of movies"  class="movie-item">-->
<!--  <h3 (click)="movieClicked(movie)">{{movie.title}}</h3>-->
<!--  <fa-icon [icon]="faEdit" (click)="editMovie(movie)"></fa-icon>-->
<!--  <fa-icon [icon]="faTrash" (click)="deleteMovie(movie)"></fa-icon>-->
<!--</div>-->

<!--<div fxLayout="column" class="p-2">-->
<!--  <div class="p-2">-->
<!--    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">-->
<!--      <ng-container matColumnDef="position">-->
<!--        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="name">-->
<!--        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="weight">-->
<!--        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="symbol">-->
<!--        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>-->
<!--      </ng-container>-->
<!--      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--    </mat-table>-->
<!--  </div>-->
<!--</div>-->
