<div fxLayout="column" class="p-2" >
  <div class="p-2">
    <mat-card>
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle><h2>New Card Form</h2></mat-card-subtitle>
      </mat-card-header>
<!--      <mat-card-content >-->
        <form fxLayout="column" fxLayoutAlign="center" [formGroup]="cardForm" (ngSubmit)="saveForm()">
          <label>Title</label><br>
          <mat-form-field>
            <input matInput type="text" formControlName="title"><br>
          </mat-form-field>
          <label>Description</label><br>
          <mat-form-field>
            <textarea matInput type="text" formControlName="description"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" class="mx-2" type="submit" [disabled]="formDisabled()"><mat-icon class="mx-2">note_add</mat-icon>
            <span *ngIf="id">Update</span>
            <span *ngIf="!id">Create</span>
          </button>

        </form>
<!--      </mat-card-content>-->
    </mat-card>
  </div>
</div>
